NODE_ENV=development
PORT=10000

# Frontend permitido para CORS. Ejemplo: https://smartsach-fdt.onrender.com
CORS_ORIGIN=http://localhost:5173

# Supabase PostgreSQL Pooler
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.hbgfywutsshezntatljs
DB_PASSWORD=tu_password_de_base_de_datos
DB_SSL=true

JWT_SECRET=cambia_este_valor_en_render
